/* td{ border:1px solid grey;
    font-size: 18px;
    font-weight:bold;
   
}
 table{
     width: 100%;
 } */
 .checkbox-style{
     background: coral;
     color:chartreuse;
     font-weight: 800;
 }