<h3>SignIn -Template Driven Forms</h3>
<form #signIn="ngForm" (ngSubmit)="submit(signIn)">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" name="email" ngModel   email aria-describedby="emailHelp" #email ="ngModel" required>
      <small id="emailHelp" *ngIf="!email.valid || email.untouched" class="form-text text-muted">Enter valid mail address.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="password" ngModel required>
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" name="terms" ngModel required>
      <label class="form-check-label" for="exampleCheck1">I agree to terms and conditions</label>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1"> ADD NOTES</label>
        <textarea type="noteField" class="form-control" id="notesArea" name="notes" ngModel>
        </textarea>
      </div>
    <button type="submit" [disabled]=!signIn.valid class="btn btn-primary">Submit</button>
    <button (click)="reset()" class="btn btn-danger">Reset</button>
  </form>
  
